article, section, header, footer {
  display: block; }

body {
  color: #444;
  font: normal medium/1.6 "Helvetica Neue", sans-serif;
  max-width: 960px;
  margin: 0 auto;
  overflow-x: hidden; }

h1, h2 {
  margin-top: 2em; }

h2, footer {
  position: relative;
  z-index: 1;
  padding: 7px 0;
  background: #f9f9f9; }
  h2:before, h2:after, footer:before, footer:after {
    content: '';
    background: #f9f9f9;
    width: 999em;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 0; }
  h2:before, footer:before {
    right: 100%; }
  h2:after, footer:after {
    left: 100%; }

.line {
  overflow: hidden;
  background: #eee;
  position: relative; }
  .line:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    margin-left: -1px;
    bottom: 0;
    background: #fff; }

.unit {
  float: left;
  position: relative; }
  .unit:before {
    content: '.scss';
    color: #bbb;
    top: 1px;
    left: 0;
    margin-left: 1em;
    position: absolute; }

.sass:before {
  content: '.sass'; }

.size1of2 {
  width: 50%; }

pre {
  padding: 1em; }

ul {
  margin: 2em 0;
  text-align: center;
  font-size: 120%; }

li {
  display: inline;
  margin: 0;
  padding: 0; }

li > a {
  background: #d7d7d7;
  padding: 12px;
  color: #444;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  li > a:hover, li > a:focus {
    color: #fff;
    background: #444; }

.with-border-radius {
  -moz-border-radius: 10px 10px/20px 20px;
  -webkit-border-radius: 10px 10px/20px 20px;
  border-radius: 10px 10px/20px 20px; }

.with-box-shadow {
  -moz-box-shadow: 2px 2px 4px black;
  -o-box-shadow: 2px 2px 4px black;
  -webkit-box-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 4px black; }

.with-linear-gradient {
  background-color: #555555;
  background-image: -moz-linear-gradient(#333333, #555555);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), color-stop(1, #555555));
  background-image: -webkit-linear-gradient(#333333, #555555);
  background-image: -o-linear-gradient(#333333, #555555);
  color: #fff; }

.with-rgba {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2); }

.with-rotation {
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg); }

.with-transition {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .with-transition:hover {
    background-color: #ff0; }
